<div id="page-wrapper">
    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="index.html" id="logo">Nysqua</a></h1>
                <hr />
                <p>Semillas de justidia y dignidad </p>
            </header>
            <footer>
                <a href="#main" class="button circled scrolly">Continuar</a>
            </footer>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a>Corporación Nysqua</a>
                    <ul>
                        <li routerLinkActive="active"><a routerLink="../About/Us">¿Quiénes somos?</a></li>
                        <li routerLinkActive="active"><a routerLink="../About/Make">¿Qué hacemos?</a></li>
                        <li routerLinkActive="active"><a routerLink="../About/Service">Líneas de trabajo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Nuestros Temas</a>
                    <ul>
                        <li routerLinkActive="active">
                            <a>Casos Recientes</a>
                            <ul>
                                <li routerLinkActive="active"><a routerLink="../Casos/Actual">N caso</a></li>
                                <li routerLinkActive="active"><a routerLink="../Casos/Actual">N caso</a></li>
                                <li routerLinkActive="active"><a routerLink="../Casos/Actual">N caso</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Historico De Casos</a>
                            <ul>
                                <li routerLinkActive="active"><a routerLink="../Casos/Historial">N caso</a></li>
                                <li routerLinkActive="active"><a routerLink="../Casos/Historial">N caso</a></li>
                                <li routerLinkActive="active"><a routerLink="../Casos/Historial">N caso</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="left-sidebar.html">Opinion</a>
                    <ul>
                        <li>
                            <a href="#">Columnas De Opinion</a></li>
                        <li><a href="#">Video Columnario</a></li>
                    </ul>
                </li>
                <li><a href="no-sidebar.html">Legislación y	jurisprudencia</a></li>
            </ul>
        </nav>
    </div>
    <!-- Carousel -->
    <section class="carousel" id="Caroousel">
        <div class="reel">
            //
            <article>
                <a routerLink="../Caja/Herramientas" class="image featured"><img src="https://cdn.actualicese.com/fotos/ilustracion-02-07-2015.jpg" alt="" /></a>
                <header>
                    <h3><a routerLink="../Caja/Herramientas">¿Cómo realizar un derecho
                      de petición?</a></h3>
                </header>
                <p>Haga click aqui y aprenda a hacer su prorpio derecho de peticion</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Fermentum sagittis proin</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Ultrices urna sit lobortis</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Varius magnis sollicitudin</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Pulvinar sagittis congue</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Fermentum sagittis proin</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Sed quis rhoncus placerat</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Ultrices urna sit lobortis</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Varius magnis sollicitudin</a></h3>
                </header>
                <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
            </article>

        </div>
    </section>
</div>