<!-- Main -->
<div class="wrapper style1">

    <div class="container">
        <div class="row 200%">
            <div class="8u 12u(mobile)" id="content">
                <article id="main">
                    <header>
                        <h2><a href="#">CORPORACIÓN NYSQUA</a></h2>
                        <p>
                            ¿Quiénes somos?
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
                    <p>

                        Somos una corporación sin ánimo de lucho, interdisciplinar de jóvenes profesionales, quienes buscamos acercamientos, diálogos e intercambios con las realidades visibles e invisibilizadas que ocurren en nuestro país. Nos proponemos, desde el continuo saber
                        y comprensión de estas condiciones de la realidad, contribuir desde nuestro quehacer profesional hacia un país más justo y digno, articulando diversas estrategias de atención, servicio y acompañamiento a población vulnerable. Nos
                        concentramos en el ámbito de protección a derechos fundamentales, económicos, sociales y culturales, como en la atención y protección al ambiente y su biodiversidad.<br /><br /> Nysqua significa emerger
                        en lengua muisca, como la semilla en la tierra que surge para ser vida. Por eso somos el anhelo de caminar hacia la memoria, espiritual y territorial. Somos el encuentro con la vida para defenderla. Somos el sonido que intenta
                        erguirse para luchar contra el llanto del dolor de lo injusto. Somos el querer de afirmar la diversidad. Somos semilla que germina por el sendero de la Justicia y la Dignidad.
                    </p>
                </article>
            </div>
            <div class="4u 12u(mobile)" id="sidebar">
                <div>
                    <img src="/assets/images/Logo_Nysqua.jpeg" alt="200px">
                </div>
            </div>
        </div>
    </div>

</div>