<!-- Main -->
<div class="wrapper style1">

    <div class="container">
        <article id="main" class="special">
            <header>
                <h2><a href="#">CORPORACIÓN NYSQUA</a></h2>
                <p>
                    Líneas de trabajo
                </p>
            </header>
            <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
            <p>
                Para desarrollar su objeto social la CORPORACIÓN NYSQUA, SEMILLAS DE JUSTICIA Y DIGNIDAD, podrá realizar, entre otras, las siguientes actividades: <br /><br /> ✔ 1. Impulsar por vías jurídicas el reconocimiento y protección de derechos
                humanos, fundamentales, sociales y colectivos de personas, comunidades y demás seres que estén en estado de vulneración. <br /> ✔ 2. Promover, auspiciar y/o financiar la conformación, puesta en marcha y el fortalecimiento integral de organizaciones,
                procesos y proyectos sociales, políticos, solidarios y ambientales. <br /> ✔ 3. Capacitar a las personas y la comunidad política en la defensa, protección y reivindicación de los Derechos Humanos fundamentales, sociales y colectivos. Así
                mismo en la proposición adopción y ejecución de alternativas de desarrollo liberalizador. <br /> ✔ 4. Realizar investigaciones, estudios, análisis sectoriales y publicaciones por cualquier medio, directamente o en asocio con entidades
                públicas, privadas y solidarias. <br /> ✔ 5. Participar en redes, procesos políticos y agremiaciones, que propendan por contribuir al mejoramiento del posicionamiento y condiciones de vida de la población, ya sea como titular, promotor,
                auspiciador, asociado, asistente o similares. <br /> ✔ 6. Participar o promover la formulación de las políticas públicas en favor de las minorías étnicas, culturales, sociales históricamente vulneradas, participando en su desarrollo y
                ejecución. <br /> ✔ 7. Representar a minorías étnicas, culturales, sociales históricamente vulnerados, ante organismos públicos, privados y solidarios, nacionales o extranjeros. <br /> ✔ 8. Promover, auspiciar, administrar u operar organizaciones,
                procesos y/o proyectos que estén encaminados a la protección, recuperación, preservación y subsistencia del medio ambiente en general, la protección y el activismo de los derechos humanos, la construcción de la justicia social y la comunidad
                política, enmarcado en la reconstrucción de la memoria histórica, la adopción de memoria colectiva y la reivindicación de la dignidad humana desde la proposición de prácticas de vida liberalizadoras y consecuentes a una conciencia social
                integral. <br /> ✔ 9. Recibir emolumentos como producto del cumplimiento de actividades propias de su objeto social. <br /> ✔ 10. Defender jurídicamente del patrimonio cultural asociado a los usos y costumbres de las comunidades étnicas,
                que han visto amenazadas sus prácticas culturales y cosmovisiones de mundo por razones del conflicto armado, modelos de desarrollo extractivistas, entre otros. <br /> ✔ 11. Brindar escenarios para comprender las problemáticas, fortalecer
                y acompañar jurídicamente a comunidades en procesos de protección de su cultura. <br /> ✔ 12. Defender jurídica, social y políticamente la naturaleza por razones que pongan de alguna manera en peligro la conservación de la biodiversidad.
            </p>
        </article>
    </div>

</div>