<!-- Main -->
<div class="wrapper style1">

    <div class="container">
        <div class="row 200%">
            <div class="8u 12u(mobile)" id="content">
                <article id="main">
                    <header>
                        <h2><a>Jurisprudencia</a></h2>
                    </header>
                    <p>

                        En la Roma Antigua el concepto de jurisprudencia, aludía a la ciencia del derecho, definida por Ulpiano en el Digesto, como “El conocimiento de las cosas humanas y divinas, además de la ciencia de lo justo y lo injusto”. Quien conocía la jurisprudencia
                        era el jurisconsulto, persona dotada de un amplio saber, que incluía las cosas del mundo terrenal y del divino, para poder captar lo justo o injusto de determinada cuestión, que dejaban plasmadas en sus escritos llenos de sapiencia
                        y sobre todo de prudencia. En el concepto actual, la jurisprudencia, alude a sentencias judiciales concordantes sobre hechos similares, que se constituye en fuente de Derecho, por la convicción de que la decisión ha sido justa,
                        si se ha reiterado en el tiempo. El fin del derecho es el conocimiento, análisis, crítica, y aplicación de las normas jurídicas con la finalidad de arribar a la justicia, y la interpretación de los jueces, que serían o deberían
                        ser, los sabios a los que Ulpiano aludía, daría una garantía de arribar a ese ideal lo más próximamente posible. Por lo general, para que exista jurisprudencia, los precedentes deben ser varios, pero en ciertos casos, en Argentina,
                        un solo fallo puede sentar jurisprudencia si su repercusión en la opinión pública y doctrinaria, ha tenido eco favorable. Estos casos referenciales y ejemplificadores, son llamados “Leading case” por el derecho anglosajón, que
                        justamente concede a la jurisprudencia un lugar trascendente como fuente de su derecho no escrito, llamado Common Law. En los países de derecho continental la fuente más importante es la ley. En ciertos casos, la aplicación jurisprudencial
                        es obligatoria para los jueces, como cuando las Salas de las Cámaras de Apelación deben respetar lo decidido en sentencias plenarias. En estos casos se constituye en fuente formal. Cuando no es obligatoria, pero igualmente se impone
                        por su fuerza persuasiva, en la interpretación de la norma jurídica por otros jueces, que la adaptan a situaciones cambiantes, o llenan algún vacío del legislador, se la llama fuente material. Cuando la jurisprudencia hace extensiva
                        la aplicación de la norma legal a situaciones similares no previstas, se denomina jurisprudencia extensiva. Antes de la reforma de la ley 17.711, ya la jurisprudencia, ante el silencio legal del artículo 1306 del Código Civil Argentino,
                        haba admitido que se aplicaran a la sociedad conyugal las normas de la civil, excluyendo al cónyuge culpable de la separación o divorcio, de los bienes gananciales del cónyuge inocente, adquiridos luego de la separación de hecho.
                        A veces, al incluir otros hechos, se deforma la norma legal, al quitarle su primer sentido. Por ejemplo, cuando se incluía la incompatibilidad de caracteres dentro de las injurias graves como causal de divorcio, que son conceptos
                        muy distintos. A veces, incluso puede oponerse a la misma norma legal, en vistas al fin superior de justicia. Cuando la jurisprudencia excluye de la norma situaciones que ella expresamente prevé, se la llama jurisprudencia restrictiva.
                        Por ejemplo el artículo 43 del Código Civil antes de la reforma, no imputaba responsabilidad, a las personas jurídicas por los actos de sus representantes, no obstante lo cual la jurisprudencia lo admitía. En México para que se
                        siente jurisprudencia como fuente de derecho, deben existir cinco sentencias concordantes sobre un mismo tema. En Guatemala es solo fuente complementaria de la ley. En España, se necesitan dos sentencias del Tribunal Supremo, y
                        si bien no es fuente formal de derecho, se la utiliza en la búsqueda de la justicia, en la interpretación de la ley.
                    </p>
                </article>
            </div>
            <div class="4u 12u(mobile)" id="sidebar">
                <div>
                    <img src="/assets/images/Logo_Nysqua.jpeg" alt="200px">
                </div>
            </div>
        </div>
    </div>
</div>