<!-- Main -->
<div class="wrapper style1">

    <div class="container">
        <div class="row 200%">
            <div class="8u 12u(mobile)" id="content">
                <article id="main">
                    <header>
                        <h2><a>CASOS RECIENTES</a></h2>
                    </header>
                    <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
                    <p>

                        Promovemos la materialización de acciones tendientes a que la justicia y la dignidad estén presentes en las diferentes esferas de los individuos, las comunidades y el territorio.<br /><br /> La Corporación Nysqua plantea herramientas
                        de carácter jurídico y social para ayudar, asesorar y representar a quienes, en el marco de la vulnerabilidad, lo requieran. Eso en temas como violencia del Estado, desplazamiento, amenazas o daño al medio ambiente, violencia sexual,
                        entre otras situaciones.<br /><br /> A través de la articulación con otras organizaciones sociales, grupos académicos, entidades observadores de vulneraciones a los derechos humanos, comunidades de base y territoriales se busca
                        sumar esfuerzos para que desde un enfoque interdisciplinar se comprendan los diferentes aspectos de una problemática y así plantear una solución integral atravesada por una mirada social y jurídica.
                    </p>
                </article>
                <h2><a href="https://www.google.com.co/">google</a></h2>
            </div>
            <div class="4u 12u(mobile)" id="sidebar">
                <div>
                    <img src="/assets/images/Logo_Nysqua.jpeg" alt="200px">
                </div>
            </div>
        </div>
    </div>
</div>